// NOTIFICATIONS DASHBOARD PAGE

.pageContainer {
  display: flex;
  flex-direction: column;
  gap: vars.$gap-medium;
  padding: vars.$padding-medium;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
}

.pageTitle {
  display: flex;
  align-items: flex-start;
  gap: vars.$gap-medium;
  text-align: left;

  h1 {
    color: vars.$color-brand;
    width: 100%;
  }
}

.pageWrapper {
  display: flex;
  flex-direction: column;
  gap: vars.$gap-medium;
}
