.navbarWrapper {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  justify-content: space-around;
  background-color: var(--color-navbar-top);
  color: vars.$color-font-body;
  z-index: 1000;

  .navbarContainer {
    display: flex;
    position: absolute;
    bottom: 0;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 77px;
    background-color: var(--color-navbar);
    box-shadow: var(--color-navbar-shadow);
  }

  .notificationCountContainer {
    transform: translateX(0%) translateY(0%);
    font-size: vars.$font-size-body-small;
    transition: 0.5s ease;
    position: absolute;
    top: 0;
    right: 0;
    color: vars.$color-font-body;
  }

  .notificationCountContainerSelected {
    transform: translateX(50%) translateY(-50%);
    font-size: vars.$font-size-header-medium;
  }

  .navOptionImageContainer {
    position: relative;
  }

  .navbarItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    color: var(--color-icon);
    text-align: center;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
    position: relative;
    outline: none;
    z-index: 1001;

    img {
      width: 36px;
      height: 36px;
      margin-bottom: 5px;
      transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out,
        width 0.3s ease-in-out, height 0.3s ease-in-out;
    }

    span {
      transition: color 0.3s ease-in-out, margin-top 0.3s ease-in-out;
      white-space: nowrap;
    }

    &:focus {
      outline: none;
    }
  }

  .navbarItemActive {
    color: vars.$color-brand;
    transform: translateY(-15px);

    img {
      filter: brightness(1.2);
      transform: scale(1);
      z-index: 2;
      height: auto;
      width: auto;
    }

    span {
      margin-top: 20px;
    }
  }

  .navbarCircle,
  .navbarInnerCircle {
    width: 50px;
    height: 50px;
    padding: vars.$padding-small;
    border-radius: 50%;
    z-index: 1000;
  }

  .navbarCircle {
    background: transparent;
    position: fixed;
    bottom: 48px;
    left: -10%;
    transition: left 0.3s ease-in-out, bottom 0.3s ease-in-out;
  }

  .navbarInnerCircle {
    background: #855db9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: none;
  }

  .navbarEllipse {
    width: 125px;
    height: 125px;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .navbarCurveBackground {
    fill: var(--color-navbar-top) !important;
    transition: fill var(--transition-duration-short) !important;
  }

  .navbarCurveCircle {
    fill: #855db9 !important;
    transition: fill var(--transition-duration-short) !important;
  }
}
