:root {
  --color-bg: #ffffff;
  --color-font-body: #111111;
  --color-comment-font: #3c3c3c;
  --color-comment-font-detail: #5b5b5b;
  --color-feed-item-bg: #eaeaea;
  --color-header-font: #111111;
  --color-info-font: #5b5b5b;
  --color-input: hsl(0, 0%, 92%);
  --color-input-border: #3c3c3c;
  --color-input-hover: hsl(0, 0%, 82%);
  --color-navbar: #d1d1d1;
  --color-navbar-shadow: 0px 0px 12px 0px rgba(255, 255, 255, 1);
  --color-navbar-top: #ffffff;
  --color-timeline-comment-bg: #eaeaea;
  --color-timeline-event-bg: #dedede;
  --transition-duration-short: vars.$transition-duration-short-short;
}

[data-theme="dark"] {
  --color-bg: #232323;
  --color-font-body: #ffffff;
  --color-comment-font: #f5f5f5;
  --color-comment-font-detail: #adadad;
  --color-feed-item-bg: #3c3c3c;
  --color-header-font: #ffffff;
  --color-info-font: #7a7a7a;
  --color-input: hsl(0, 0%, 24%);
  --color-input-border: #eaeaea;
  --color-input-hover: hsl(0, 0%, 34%);
  --color-navbar: #2d2d2d;
  --color-navbar-shadow: 0px 0px 12px 0px rgba(35, 35, 35, 0.8);
  --color-navbar-top: #232323;
  --color-timeline-comment-bg: #2e2e2e;
  --color-timeline-event-bg: #2e2e2e;
  --transition-duration-short: vars.$transition-duration-short-short;
}
