@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loadingSpinner {
  animation: spin 1s linear infinite;
  display: inline-block;
}

.loadingSpinnerCircle {
  stroke-dasharray: 50;
  stroke-dashoffset: 10;
  transform-origin: center;
}
