// EXPLORE DASHBOARD PAGE

.pageContainer {
  display: flex;
  flex-direction: column;
  gap: vars.$gap-medium;
  padding: vars.$padding-medium;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
}

.pageWrapper {
  display: flex;
  flex-direction: column;
  gap: vars.$gap-medium;
}

.exploreFeedContainer {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  position: relative;
  width: 100%;

  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }

  &::before,
  &::after {
    content: "";
    height: 100%;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100px;
    z-index: 2;
  }
}

.exploreFeed {
  display: flex;
  gap: vars.$gap-medium;
  padding: vars.$padding-small;
  user-select: none;
}

.seeAll {
  color: vars.$color-brand;
  @include vars.use-font("regular");
  text-decoration: none;
}
