// PROFILE DASHBOARD PAGE

.pageContainer {
  display: flex;
  flex-direction: column;
  gap: vars.$gap-medium;
  padding: vars.$padding-medium;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
}

.pageTitle {
  display: flex;
  align-items: flex-start;
  gap: vars.$gap-medium;
  text-align: left;

  h1 {
    color: vars.$color-brand;
    width: 100%;
  }
}

.pageWrapper {
  display: flex;
  flex-direction: column;
  gap: vars.$gap-medium;
}

.pageContent {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  padding: vars.$padding-medium;
  z-index: 100;
  background-color: vars.$color-background;
  min-height: 250px;
}

.profileHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: vars.$gap-medium;
}

.userInfo {
  width: 50%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: vars.$gap-small;

  .tagContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: vars.$gap-small;
  }
  .tagItem {
    background-color: var(--color-tag);
    border-radius: vars.$radius-large;
    padding: vars.$profile-tag-padding;
    color: vars.$color-font-body;
    font-size: vars.$font-size-body-small;
  }
}

.editButton {
  padding: vars.$profile-tab-padding;
  border: 0;
  border-radius: vars.$radius-small;
  background-color: var(--color-input);
  color: vars.$color-font-body;
  cursor: pointer;
}
